html {
    font-family: monospace;
    background-color: antiquewhite;
}

#calculator {
    text-align: center;
    color: dodgerblue;
    font-size: 60px;

}

#obliczenia {
    text-align: center;
    color: slateblue;
}

#wynik{
    text-align: center;
    color: rgb(120, 74, 195);
    font-size: 45px;
}
button{
    background-color: aquamarine;
    height: 40px;
    width: 40px;
    text-align: center;
}

input{
    width: 200px;
    height: 50px;
    font-size: 45px;
}
#przyciski{
    text-align: center;
    margin: 20px;
}

#wpisane{
    text-align: center;
    margin: 20px;
}

#result{
    color: red;
    font-size: 60px;
    margin:30px;
}

#reset{
    text-align: center;
    margin :40px;
}

#zerowanie{
    font-size: 30px;
    height: auto;
    width: auto;    
}

#resetowanie{
    text-align: center;
    margin: 20px;
}
#zerowanie{
    font-size: 40px;
}